@model List<Category>
@{
    ViewData["Title"] = "CategoryProcess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CategoryProcess</h1>


<table class="table table-bordered" style="margin-top: 20px; margin-left: 20px;">
    <tr>
        <th>Kategori Ad</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var category in Model)
    {
        <tr>

            <td>@category.CategoryName </td>
            <td>
              
                <a href="/AdminCategoryPage/GetCategory/@category.PK_CATEGORY_ID" class="btn btn-warning">Güncelle</a>

                <a href="/AdminCategoryPage/DeleteCategory/@category.PK_CATEGORY_ID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }

</table>
<form method="get" asp-action="AddCategory" asp-controller="AdminCategoryPage">
    <button type="submit" class="btn btn-primary">Kategori Ekle</button>
</form>


@section Markalar{



}