@using SikayetTakipSitesi.Models

@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<Category>
@{
    ViewData["Title"] = "CategoryProcess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori İşlemleri</h1>
<br />


<table class="table table-bordered" style="margin-top: 20px;  border-style:ridge ; border-color:forestgreen ; border-width:5px">
    <tr style=" padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #4CAF50; color: white;">
        <th>Kategori Ad</th>
        <th>Güncelle</th>
        <th>Sil</th>

    </tr>
    @foreach (var category in Model)
    {
        <tr>

            <td>@category.CategoryName </td>
            <td>

                <a href="/AdminCategoryPage/GetCategory/@category.PK_CATEGORY_ID" class="btn btn-warning">Güncelle</a>

            </td>
            <td>

                <a href="/AdminCategoryPage/DeleteCategory/@category.PK_CATEGORY_ID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }

</table>
<form method="get" asp-action="AddCategory" asp-controller="AdminCategoryPage">
    <button type="submit" class="btn btn-primary">Kategori Ekle</button>
</form>


<div class="row mt-5">
    <div class="col">
        <div class="block-27">
            <ul>

                <li>
                    @Html.PagedListPager(Model, sayfa => Url.Action("CategoryProcess", new { sayfa }))
                </li>

            </ul>
        </div>
    </div>
</div>
@section Markalar{



}