@model   IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>MARKALAR</h1>

@foreach (var brand in Model)
{
    <div class="cases-wrap d-md-flex align-items-center">
        <div class="img" style="background-image:url(@brand.BrandPhoto )"></div>

        <div class="text pl-md-5">
            <a href="~/accounting-master/contact.html"> <span class="cat">@brand.BrandName</span></a>

            <p><a href="#" class="btn btn-primary">Şikayet Yaz</a></p>

            <p><a href="#" class="btn btn-primary">Markaya Git</a></p>
        </div>
    </div>

}


@section Kategoriler{

    @await Component.InvokeAsync("CategoryMenu")

}