@model   IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="font-weight:bold; margin-bottom: 20px;">MARKALAR</h2>

@foreach (var brand in Model)
{
    <div class="cases-wrap d-md-flex align-items-center">
        <div class="img" style="background-image:url(@brand.BrandPhoto ); background-size: 300px;"></div>

        <div class="text pl-md-5">
            <a href="~/accounting-master/contact.html"> <span class="cat">@brand.BrandName</span></a>

            <p><a href="#" class="btn btn-primary">Şikayet Yaz</a>
               <a href="Brands/Index" class="btn btn-primary">Markaya Git</a>
            </p>
        </div>
    </div>

}


@section Kategoriler{

    @await Component.InvokeAsync("CategoryMenu")

}