@model IEnumerable<SikayetTakipSitesi.Models.CategoryBrand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>MARKALAR</h1>

@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="cases-wrap d-md-flex align-items-center">
                <div class="img" style="        background-image: url(@Html.DisplayFor(modelItem=>item.Brand.BrandPhoto));"></div>
                <div class="text pl-md-5">
                    <span class="cat">  @Html.DisplayFor(modelItem => item.Brand.BrandName)</span>
                    <p>
                        <a href="#" class="btn btn-primary">Şikayet Et</a>
                        <a href="#" class="btn btn-primary">Detaylar</a>
                    </p>
                </div>
            </div>
        </td>
    </tr>
}

@section Kategoriler{ 
<h3>Kategoriler</h3>
@foreach (var item in Model)
{
    <tr>
        <td>
            <div class="sidebar-box ftco-animate">
                <div class="categories">
                    <li><a href="#">@Html.DisplayFor(modelItem => item.Category.CategoryName)</a></li>
                </div>
            </div>
        </td>
    </tr>
}
   }
