@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>MARKALAR</h1>


@foreach (var brand in Model)
{
    <div class="cases-wrap d-md-flex align-items-center">
        <div class="img" style="background-image:url(@brand.BrandPhoto ); background-size: 300px;"></div>

        <div class="text pl-md-5">
            <a> <span class="cat">@brand.BrandName</span></a>

            <p>
                <form method="post" asp-action="Index" asp-controller="Complaint" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">Şikayet Yaz </button>
                </form>
                <br />
                <form method="post" asp-action="Index" asp-controller="BrandDetail" asp-route-id="@brand.PK_BRAND_ID ">
                    <button type="submit" class="btn btn-primary">Markaya Git</button>
                    </form>
            </p>
        </div>
    </div>
    
}



@section Kategoriler{

    @await Component.InvokeAsync("CategoryMenu")

}