@model SikayetTakipSitesi.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

@foreach (var complaint in Model.Complaint)
{
    <div class="cases-wrap d-md-flex align-items-center" style="size:50px">
        @*<div class="img" style="background-image:url(@brand.BrandPhoto ); background-size: 50px;"></div>*@
        <div class="text pl-md-5">
            <a> <span class="cat">@complaint.FK_BRAND_ID.BrandName</span></a>

        </div>
    </div>

}

